# Environment variables and sensitive data
.env
*.env

# SQLite Database
*.db
*.sqlite3

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Logs & temp files
*.log
scratch/
.system_generated/
